:root {
    --primary-text-color: rgb(0, 0, 0);
    --primary-register-font-color: #041a98;
    --hover-text-color: #c6bb7f;
    --header-height: 60px;
    --navbar-link-color: aliceblue;
    --navbar-background-color: #3e1b04;
    --guide-font: 'Poppins', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'sans-serif', Arial, Helvetica;    
}

/*Utilidades*/

.escala {
  display: inline-block;
  transition: 0.3s ease;
  position: relative;
  z-index: 1;
}

.escala:hover {
  transform: scale(1.1);
  z-index: 2;
}

.href-normalizado {
  text-decoration: none;
  color: var(--primary-text-color);
}	

.list-nonstyled {
    list-style: none;
}

.h2-titulos {
    text-align: center;
    padding: 40px 0;
}

.card-bckgrnd {
    background-color: #a7a5a556;
    border-radius: 12px;
    max-width: 1400px;
    margin: 0 auto;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.onclick {
    cursor:pointer
}

.link-hover:hover {
    color: var(--hover-text-color);
}

/*Nav*/

header {
    background-color: var(--navbar-background-color);
    color: var(--primary-text-color);
    display: flex;
    justify-content: space-between;
    align-items: center; 
    height: var(--header-height);
    padding: 10px;
    font-size: 1.2rem;
    /* Prevents content from overflowing the header */
    position: sticky;
    top: 0;
    z-index: 10000;
}

.logo {
    width: auto;
    height: 40px;
    padding: 3px 0px 3px 10px;
}

.navbar {
    display: flex;
    padding: 5px 10px;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 10;
}

.navbar > a, .navbar > i {
    padding: 20px;
    margin: 10px;
    color: var(--navbar-link-color);
    transition: color 0.1s;
}

.user-icon {
    font-size: 27px;
}

/*Registro*/

.registro {
    position: absolute;
    top: 60px;
    right: 0px;
    padding: 25px;
    z-index: 100000000;
}

.container {
    width: 300px;
    border: 2px solid #000;
    top: var(--header-height);
    left: auto;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    overflow: hidden;
    background-color: #3e1b04;
    margin: 5px;
}

.login-h2 {
    margin-top: 10px;
    text-align: center;
    font-size: 25px;
    color: var(--primary-text-color);
}

.login {
    padding: 0 20px;
}

.input-field {
    margin: 20px auto;
    display: block;
    width: 100%;
    height: 40px;
    padding: 10px;
    border: 2px solid #000;
    border-radius: 7px;
    font-size: 16px;
}

.submit-btn {
    font-size: 14px;
    margin: auto;
    display: block;
    width: 40%;
    height: 35px;
    border: none;
    border-radius: 5px;
}

.submit-btn:hover {
    border: 2px solid #000;
    cursor: pointer;
}

.pointer {
    cursor: pointer;
}

.change-menu {
    margin-top: 8%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bttn {
    width: 50%;
    border: none;
    opacity: 0.9;
    height: 50px;
    padding: auto;
    border: none;
    border-radius: 5px;
}

.span, a {
    color: var(--navbar-link-color);
    font-size: 13px;
}

/*Main*/

main {
    flex: 1;
    min-width: 0;
    background-color: #f9f6ef;
}

.page-title {
    text-align: center;
    font-size: 5rem !important;
    color: #3e1b04;
    padding: 30px 0;
}

.description {
    display: flex;
    align-self: center;
    justify-content: center;
    font-size: 1rem;
    margin: 20px;
    color: var(--primary-text-color);
}

.last-guide {
    margin-top: 40px;
}

.guide-card {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 20px;
    padding: 20px;
    border: 2px solid #ccc;
    border-radius: 10px;
}

.text-content {
    flex: 1;
}

.news-title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: left;
}

.descripcion {
    font-size: 1rem;
    line-height: 1.2;
    text-align: justify;
    color: #2e2e2e;
    background-color: #fffdf9;
    padding: 20px;
    border-left: 4px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
    font-family: 'Poppins', sans-serif;
    width: 70%;
}

.guide-portada {
    width: 300px;
    height: auto;
    border-radius: 10px;
    object-fit: cover;
    display: block;
}

.buscador {
    margin-top: 50px;
}

.guide-portada:hover {
    box-shadow: 0 0 10px rgb(107, 110, 110), 0 0 10px rgb(107, 110, 110); /* Más brillo al pasar el mouse */
}

.popular-guides {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    border: 2px solid #ccc;
    border-radius: 10px;
}

.guide-card-popular {
    text-align: center;
    width: fit-content;
    margin: auto;
}

.btn-container {               /* Ocupa toda la altura de la ventana */
    display: flex;                 /* Activar Flexbox */
    justify-content: center;      /* Centra horizontalmente */
    margin-top: 20px;  
    padding-bottom: 50px; 
    gap: 20px;       /* Centra verticalmente */
}

.btn2 {
    font-size: 1rem;
    font-weight: 700;
    padding: 0.5em 1em;
    color: var(--primary-text-color);
    background-color: #fcfcfc;
    border: 5px solid #3e1b04;
    border-radius: 5px;
    transition: all 0.3s;
    margin-top: 20px;
}

.btn2:hover {
    transform: translateY(-10px);
    background-color: #3e1b04;
    color: #fcfcfc;
}

/*footer*/

.footer-content {
    background-color: #3e1b04;
    color: #fcfcfc;
    padding: 20px;
    text-align: center;
}

/*Guias*/

.buscador {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
}

.search-bar {
    width: 100%;
    max-width: 600px;
    padding: 10px;
    border: 5px solid #3e1b04;
    border-radius: 5px;
    font-size: 1rem;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

/*Guias Default*/

.guide-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 30px;
    padding: 40px 30px;
    gap: 20px;
    border-bottom: #757575 2px solid;
}

.guide-title h1 {
    font-size: 2rem;
}

.page-containter {
    margin-top: 40px;
}

.guide-menu {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    height: 40px;
    width: auto;
}

.guide-menu button {
    font-size: 1rem;
    font-weight: 700;
    padding: 0.5em 1em;
    color: var(--primary-text-color);
    background-color: #c9bbb1;
    border: 3px solid #4f4945;
}

.guide-menu button:hover {
    background-color: #4f4945;
    color: #fcfcfc;
    cursor: pointer;
}

.guide {
    padding: 20px;
    margin: 0px 150px;
}

.guide-text-container {
    padding: 20px;
}

.tab, .tab-flex {
    display: none;
}

.tab-flex.active {
    display: flex;
}

.tab.active {
    display: block;
}

.guide-text {
    margin-top: 15px;
    text-align: justify;
    text-indent: 3em;
    line-height: 1.3em;
}

/* checklist */
.checklist-container {
    margin-top: 50px;
    border: 2px solid #ccc;
    border-radius: 10px;
    background-color: #f0f0f0;
}

.checklist-title {
    font-size: 1.5rem;
    color: var(--navbar-link-color);
    background-color: var(--navbar-background-color);
    padding: 10px;
    border-radius: 6px;
}

.checklist-image-container {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    margin: 30px 0px;
    justify-content: center;
}

.checklist-images {
    width: 100px;
    height: auto;
}

.text-image {
    text-align: center;
    font-size: 0.9rem;
    width: 100px;
}

/* .guide-sidebar {
    position: sticky;
    top: var(--header-height);
    width: 70%;
    padding: 30px;
    background-color: #d3d3d3;
    box-shadow: -2px 0 5px rgba(0,0,0,0.1);
}
.menu-list {
    list-style: decimal;
    padding: 5px;
    margin: 10px;
} 

.menu-list-item {
    padding: 5px;
} */ 

.table-div table {
    margin: 40px auto;
}

.rango-a {
    text-decoration: none;
    color: var(--primary-text-color);
    border: 1px solid #000;
}

.table-neme {
    border-collapse: collapse;
    padding-right: 20px;
}

th {
    border: 2px solid #000;
    padding: 10px;
    background-color: var(--navbar-background-color);
    color: var(--navbar-link-color);
}

@media (max-width: 1180px) {
    .guide {
    margin: 0px 25px;
}
}